<div style="text-align: center; width: 50%;">
    <div style="background-color: cornflowerblue;">
        This is my sample application
    </div>
    <div style="background-color: darkseagreen;">
        <table border="1">
            <tr>
                <td style="text-align: center;font-weight: bold;">These are the Products!</td>
            </tr>
            <tr>
                <td>
                    <app-product></app-product>
                </td>
            </tr>
        </table>
    </div>
</div>