<div style="background-color: cornflowerblue; text-align: center; font-weight: bold;">
    This is my sample Angular 18 CRUD application
</div>
<div style="background-color: darkseagreen;">
    <table class="center" style="width: 50%; background-color: lightyellow;">
        <tbody>
            <tr>
                <td style="text-align: center; font-weight: bold;">These are the Products</td>
            </tr>
            <tr>
                <td style="font-style: italic;">Note: Products with ID 1 to 13 are read-only. Please create new entries for manipulation. Thanks!</td>
            </tr>
            <tr>
                <td>
                    <app-product></app-product>
                </td>
            </tr>
        </tbody>
    </table>
</div>
